{{#if isEditing}}
  <form {{action 'update' on="submit"}}>
    <p>
      <label>Title</label>
      {{input value=name}}
    </p>
    <p>
      <label>Summary</label>
      {{textarea value=summary}}
    </p>
    <p>
      <label>Image</label>
      {{input value=imageURL}}
    </p>
    <input type="submit" value="Update">
  </form>

{{else}}
  <h3>{{name}}</h3>
  <img src="{{imageURL}}" class="img-responsive">
  <p>Summary: {{summary}}</p>
  <p>Quotes:</p>
  {{#each quotes as |quote| }}
    <ul>
      <li>{{quote.description}} - {{link-to quote.character.name "characters.character" quote.character}}</li>
    </ul>
  {{/each}}
{{/if}}
