{{#if isEditing}}
  <form {{action 'update' on="submit"}}>
    <p>
      <label>Name</label>
      {{input value=name}}
    </p>
    <p>
      <label>Summary</label>
      {{input value=summary}}
    </p>
      <p>
      <label>Time Period</label>
      {{input value=timePeriod}}
    </p>
    <p>
      <label>Image</label>
      {{input value=imageURL}}
    </p>
    <input type="submit" value="Update">
  </form>

{{else}}
  <h3>{{name}}</h3>
  <img src="{{imageURL}}" class="img-responsive"> 
  <p><strong>Summary:</strong> {{summary}}</p>
  <p><strong>Time Period:</strong> {{timePeriod}}</p>
  <p><strong>Episodes:</strong></p>
  <ul>
    {{#each episodes as |episode|}}
    <li>{{link-to episode.name "seasons.season.episode" episode}}</li>
    {{/each}}
  </ul>
{{/if}}
