<form {{action 'save' quote on="submit"}}>
  <p>
    <label>Quote Content</label>
    {{textarea value=quote.description}}
  </p>
  <p>
    <label>Context</label>
    {{textarea value=quote.context}}
  </p>
  <p><label>Who Said It?</label>
    {{#x-select value=quote.character}}
    {{#x-option value=null}}Please select character.{{/x-option}}
      {{#each characters as |character|}}
        {{#x-option value=character}}{{character.name}}{{/x-option}}
      {{/each}}
  {{/x-select}}
  </p>
  <p><label>Season</label>
    {{#x-select value=selectedSeason}}
      {{#x-option value=null}}Please select season.{{/x-option}}
      {{#each seasons as |season|}}
        {{#x-option value=season}}{{season.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </p>
  <p><label>Episode</label>
    {{#x-select value=quote.episode}}
      {{#x-option value=null}}Please select episode.{{/x-option}}   
      {{#each selectedSeason.episodes as |episode|}} 
        {{#x-option value=episode}}{{episode.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </p>
  <button type="submit" value="Add Quote" class="button">Add Quote</button>
  <button {{action "cancel"}}>Cancel</button>
</form>