<form {{action 'save' character actor on="submit"}}>
  <p>
    <label>Name</label>
    {{input value=character.name}}
  </p>
  <p>
    <label>Title</label>
    {{input value=character.title}}
  </p>
    <p>
    <label>Social Class</label>
    {{input value=character.socialClass}}
  </p>
    <p>
    <label>Image:</label>
    {{input value=character.imageURL}}
  </p>
  <p>
    <label>Actor</label>
    {{input value=actor.name}}
  </p>
  <input type="submit" value="Add New Character">
  <button {{action "cancel"}}>Cancel</button>
</form>