<form {{action 'save' model on="submit"}}>
  <p>
    <label>Name</label>
    {{input value=model.name}}
  </p>
  <p>
    <label>Title</label>
    {{input value=model.title}}
  </p>
    <p>
    <label>Social Class</label>
    {{input value=model.socialClass}}
  </p>
  <input type="submit" value="Add New Character">
  <button {{action "cancel"}}>Cancel</button>
</form>