<h2>Episode Title: {{model.name}}</h2>
<img src="{{model.imageURL}}" class="img-responsive">
<p>Summary: {{model.summary}}</p>
<p>Quotes:</p>
{{#each model.quotes as |quote| }}
  <ul>
    <li>{{quote.description}} - {{quote.character}}</li>
  </ul>
{{/each}}
{{outlet}}
