<header>
  <h1><a href="/">Downton Abbey Quips</a></h1>
</header>
<nav class="clearfix">
  <ul class="clearfix">
    <li class="nav-item">{{link-to "Characters" "characters"}}</li>
    <li class="nav-item">{{link-to "Quotes" "quotes"}}</li>
    <li class="nav-item">{{link-to "Seasons" "seasons"}}</li>
    {{#if session.isAuthenticated}}
      <button {{action 'invalidateSession'}}>Logout</button>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
  </ul>
  <a href="#" id="pull">Menu</a>
</nav>
<div class="container">
  {{outlet}}
</div>
