<h2>Characters</h2>

<aside class="left-menu">
 
 {{#if session.isAuthenticated}}
   {{#link-to "characters.new" class="button"}}Add New Character{{/link-to}}
 {{/if}} 
 
  <label for="search">Search</label>
  {{input value=q id="search"}}
  
  <ul class="left-list-items">  
    {{#each filteredResults as |character| }}
    <li class="left-menu-item">{{link-to character.name "characters.character" character}}</li>
    {{/each}}
  </ul>  
</aside>

<aside class="mobile-select">
  <select onchange={{action "selectCharacter" value="target.value"}}>
  {{#each filteredResults as |characterChoice|}}
    <option value={{characterChoice.id}} selected={{eq character characterChoice}}>{{characterChoice.name}}</option>
  {{/each}}
  </select>
</aside>

<section class="main-container">
  <div class="main-col">
  {{outlet}}
  </div>
</section>
